<div [formGroup]="parent">
        <div formGroupName="calculationInput">
                <input  
                    type="number" 
                    placeholder="Main Limit"
                    formControlName="limit"
                    step="1000000"
                    min="0"
                    >
                <div 
                    class="error"
                    *ngIf="required('limit')"
                    >
                    Main Limit is required
                </div>
                <input 
                    type="number" 
                    placeholder="Main Retention"
                    formControlName="retention"
                    step="1000000"
                    min="0"

                    >
                <div
                    class="error"
                    *ngIf="required('retention')"
                    >
                    Main Retention is required
                </div>
        </div>
</div>